{% extends "oxalorg/layout.html" %}
{% block title %}Server error{% endblock %}
{% block body %}
<style>
    h1,h3{
        font-family: 'NjNaruto';
    }
</style>
<div class="container">
    <h1>OH NOES! Our banana machine broke down!</h1>
    <h3>Don't worry, a team of ninja monkeys were dispatched to fix it.</h3>
    <p>You must be a l33t h@ck3r to be able to brake our bananas so easily! You really shouldn't be messing with ninja monkeys though ;)</p>
    <p><a href="/">go somewhere nice</a></p>
</div>
{% endblock %}
